# [submodule "themes/ananke"]
# 	path = themes/ananke
# 	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/vex-hugo"]
	path = themes/vex-hugo
	url = https://github.com/budparr/gohugo-theme-ananke.git
