body {
    /* font-family: josefin sans,sans-serif;
    font-family: 'Source Sans Pro', sans-serif; */
    /* font-family: 'Source Sans Pro', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Anaheim', sans-serif;
}
.image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.image img{
    position:absolute;
    border-color: #ddd;
    border-style: solid;
    border-width: thin;
}
.product-info h4 {
    font-size: 16px;
    font-weight: 100;
    padding: 10px 20px!important;
}

.navbar {
    padding: 1.5rem 1rem;
}
.nav-link {
    font-size: 16px;
    font-weight: 300;
    padding: 10px 20px!important;
}

.section {
    padding: 50px 0;
}

.form-control {
    border: 0;
    border-bottom: 1px solid #ababab;
    border-radius: 0;
}
@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

.gallery .block {
    /* padding: 20px; */
    padding: 0px;

    position: relative;
}

.product-info h4 {
    font-size: 16px;
    font-weight: 300;
    padding: 10px 20px!important;
}


.gallery .gallery-overlay {
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: rgba(255,255,255,.65);
  }
  .navbar {
      padding: 1.5rem 0rem;
  }
