{{ define "main" }}

<section class="section">
  <div class="container">

    <div class="row">
      <h1 class="mb-4">{{ .Title }}</h1>
    </div>


    <div class="row">
      <div class="col-md-8 mb-4 mb-md-0">
        <!-- product image slider -->
        <div class="product-image-slider">
          {{ range .Params.images }}
          <div data-image="{{ . | absURL }}">
            <img class="img-fluid w-100" src="{{ . | absURL }}" alt="product-image">
          </div>
          {{ end }}
        </div>
      </div>
      <div class="col-lg-4 col-md-7 offset-lg-0">
        <!-- <h1 class="mb-4">{{ .Title }}</h1> -->
        <p><strong>Colors:</strong> {{ with .Params.colors }}{{ delimit . ", "}}{{ end }}</p>
        <p><strong>Sizes:</strong> {{ with .Params.sizes }}{{ delimit . ", "}}{{ end }}</p>
        <p>{{ .Description }}</p>
        <!-- <div class="content">{{.Content}}</div> -->
      </div>
    </div>

    <div class="row">
      <div class="content">{{.Content}}</div>
    </div>

  </div>
</section>

{{ end }}
